.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #0f0f1e;
  color: #ddd;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
